* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;
    font-family: Arial, sans-serif;
    padding: 2rem;
}

.header {
    text-align: center;
    margin-bottom: 4rem;
    color: white;
    
}

.logo {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    letter-spacing: 2px;
}

.logo span {
    color: #ef4444;
}

.drum-icon {
    color: #4497ef;
    font-size: 2.5rem;
    margin: 0 10px;
}

.keys-container {
    margin-top: 7%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
}

.key {
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    back
    
}

.key:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.key{
    color: #49c3ec;
    font-size: 3.4rem;
    font-weight: bold;
}

.footer {
    margin-top: auto;
    padding: 2rem;
    color: white;
    font-size: 0.9rem;
}

.footer span {
    color: #ef4444;
}
.J{
    background-image: url(images/16_stt_c_z1.jpg);
    background-size: 180px 150px;
 
}
.A{
    background-image: url(images/TOM.webp);
    background-size: 150px 150px;
}
.W{
    background-image: url(images/TOM.webp);
    background-size: 150px 150px;
}
.L{
    background-image: url(images/501488000927000-00-1600x1600.webp);
    background-size: 150px 150px;
}
.K{
    background-image: url(images/DISK.jpg);
    background-size: 150px 150px;
}
.S{
    background-image: url(images/floor.jpeg);
    background-size: 150px 150px;
}.D{
    background-image: url(images/floor.jpeg);
    background-size: 150px 150px;
}
@media (max-width: 768px) {
    .keys-container {
        gap: 0.5rem;
    }

    .key {
        width: 80px;
        height: 80px;
    }

    .logo {
        font-size: 2.5rem;
    }
}

@media (max-width: 480px) {
    .key {
        width: 60px;
        height: 60px;
    }

    .key span {
        font-size: 1.5rem;
    }

    .logo {
        font-size: 2rem;
    }
}